{% extends "generic/_list.html" %}

                        {% block list_table %}
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th width="20"><input type="checkbox" id="CheckedAll"></th>
                                    <th>用户名</th>
                                    <th>标识名称</th>
                                    <th>协议</th>
                                    <th>最后修改</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}

                                    <tr id="{{ object.id }}">
                                        <td><input type="checkbox" value="{{ object.id }}"  name="id"></td>
                                        <td class="center">{% url viewname_update object.id as obj_update %}
                                            <a href="{{ obj_update }}">{% firstof object.username '未设置' %}</a>
                                        </td>
                                        <td class="center">{{ object.name }}</td>
                                        <td class="center">{{ object.protocol }}</td>
                                        <td class="center">{{ object.changetime }}</td>
                                        <td>
                                            <a class="btn btn-danger btn-xs">删除</a>

                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>

                        {% endblock %}


